body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

main {
    height: 500px;
}

#product-overview {
    background: #ff1b68;
    height: 528px;
    padding: 10px;
}

#product-overview-without-shorthand {
    background-color: #ff1b68;

    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;

    border-width: 5px;
    border-color: black;
    border-style: solid;
 
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.section-title {
    color: #2ddf5c;
}

.main-header {
    background-color: #2ddf5c;
    padding: 8px 16px;
}

.main-header > * {
    display: inline-block;
}
    
.main-header > div {
    vertical-align: middle;
}

.main-header__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.main-nav__items, .main-nav__item {
    display: inline-block;
}

.main-nav {
    width: calc(100% - 74.109px); /* Aumentei o valor da subtração pra não ter que quebrar linha no código HTML */
    text-align: right;
}

.main-nav__items {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-nav__item + .main-nav__item {
    margin-left: 16px;
}

.main-nav__item > a {
    padding: 3px;
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
}

.main-nav__item--cta a{
    color: #fff;
    background-color: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item > a:hover,
.main-nav__item > a:active {    
    color: white;    
    border-bottom: 5px solid #fff;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color: #ff1b68;
    background-color: #fff;
    border: none;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.div-with-box-content {
    height: 200px;
    width: 200px;
    padding: 20px;
    border: 1px solid black;
}

.div-with-box-content::first-letter { /* pseudo-element*/
    color: red;
    text-transform: uppercase;
}

.div-with-border-box {
    height: 200px;
    width: 200px;
    padding: 20px;
    border: 1px solid black;
    box-sizing: border-box;
}


/* h1 {
    font-family: sans-serif;
} */